@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}
#preloader{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #302d2d;
    position: fixed;
    z-index: 100;
}
#preloader>div{
    height: 100px;
    width: 100px;
    border: 15px solid rgb(92, 91, 91);
    border-top-color: #ffffff;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 0.8s infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}
.content>iframe{
    display: none;
}
.content .container{
    width: 100%;
    height: 100vh;
    background: #111;
}
svg{
    font-size: 150px;
    padding-top: 11%;
}
.copy{
    fill: none;
    stroke: #fff;
    stroke-width: 3px;
    stroke-dasharray: 8% 30%;
    stroke-dashoffset: 0%;
    animation: textanimation 6s linear infinite;
}
@keyframes textanimation{
    100%{
        stroke-dashoffset: -35%;
    }
}
.copy1{
    stroke: #673ab7;
    animation-delay: -1s;
}
.copy2{
    stroke: #e91e63;
    animation-delay: -2s;
}
.copy3{
    stroke: #22ff2d;
    animation-delay: -3s;
}
.copy4{
    stroke: #0004f8;
    animation-delay: -4s;
}
.copy5{
    stroke: #ffc107;
    animation-delay: -5s;
}
.textsecond>p{
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-top: -10%;
}